<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ParentArticleDao">
    <resultMap type="ParentArticle" id="aArticleResultMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="englishName" column="english_name" jdbcType="VARCHAR"/>
    </resultMap>
<!--    <sql id="select">-->
<!--      SELECT * FROM t_sys_teacher-->
<!--    </sql>-->

<!--    <select id="selectByParam" resultMap="aArticleResultMap">-->
<!--        <include refid="select"/>-->
<!--        WHERE isDel = 0-->
<!--        ORDER by rank-->
<!--    </select>-->

<!--    <select id="selectById" resultMap="aArticleResultMap">-->
<!--        <include refid="select"/>-->
<!--        where id=#{id}-->
<!--    </select>-->

<!--    <select id="pageList" resultMap="aArticleResultMap">-->
<!--        <include refid="select"/>-->
<!--        limit #{offset},#{size}-->
<!--    </select>-->

<!--    <select id="pageTotal" resultType="java.lang.Integer">-->
<!--        select count(*) from t_sys_teacher-->
<!--    </select>-->

<!--    <select id="getById" resultMap="aArticleResultMap">-->
<!--      select * form t_sys_teacher WHERE id = #{id}-->
<!--    </select>-->

    <select id="searchParentArticle" resultMap="aArticleResultMap">
        select * from t_parent_article
        <if test="keyword!=null and keyword != ''">
            where title like CONCAT('%',#{keyword},'%')
            and is_delete = 0
        </if>
        <if test="keyword == null or keyword == ''">
            where is_delete = 0
        </if>
            ORDER BY id
    </select>

<!--    <select id="myTeacher" resultMap="aArticleResultMap">-->
<!--        select project,real_name,rank-->
<!--        from t_sys_teacher-->
<!--        where class_num = #{classNum}-->
<!--    </select>-->

<!--    <select id="myLeader" resultMap="aArticleResultMap">-->
<!--        select real_name,rank,unit-->
<!--        from t_sys_teacher-->
<!--        where unit = #{unit} and isLeader = 1-->
<!--    </select>-->

<!--    <insert id="insertSelective" parameterType="Teacher" useGeneratedKeys="true" keyProperty="id" flushCache="true">-->
<!--        INSERT into t_sys_teacher-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="loginName != null and loginName != '' ">-->
<!--                login_name,-->
<!--            </if>-->
<!--            <if test="classNum != null and classNum != '' ">-->
<!--                class_num,-->
<!--            </if>-->
<!--            <if test="realName != null and realName != '' ">-->
<!--                real_name,-->
<!--            </if>-->
<!--            <if test="age != null and age != '' ">-->
<!--                age,-->
<!--            </if>-->
<!--            <if test="sex != null and sex != '' ">-->
<!--                sex,-->
<!--            </if>-->
<!--            <if test="grade != null and grade != '' ">-->
<!--                grade,-->
<!--            </if>-->
<!--            <if test="project != null and project != '' ">-->
<!--                project,-->
<!--            </if>-->
<!--            <if test="rank != null and rank != '' ">-->
<!--                rank,-->
<!--            </if>-->
<!--            <if test="unit != null and unit != '' ">-->
<!--                unit,-->
<!--            </if>-->
<!--            <if test="isLeader != null and isLeader != '' ">-->
<!--                isLeader,-->
<!--            </if>-->
<!--            <if test="isDel != null and isDel != '' ">-->
<!--                isDel,-->
<!--            </if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="loginName != null and loginName != '' ">-->
<!--                #{loginName,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="classNum != null and classNum != '' ">-->
<!--                #{classNum,jdbcType=INTEGER},-->
<!--            </if>-->
<!--            <if test="realName != null and realName != '' ">-->
<!--                #{realName,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="age != null and age != '' ">-->
<!--                #{age,jdbcType=INTEGER},-->
<!--            </if>-->
<!--            <if test="sex != null and sex != '' ">-->
<!--                #{sex,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="grade != null and grade != '' ">-->
<!--                #{grade,jdbcType=INTEGER},-->
<!--            </if>-->
<!--            <if test="project != null and project != '' ">-->
<!--                #{project,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="rank != null and rank != '' ">-->
<!--                #{rank,jdbcType=INTEGER},-->
<!--            </if>-->
<!--            <if test="unit != null and unit != '' ">-->
<!--                #{unit,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="isLeader != null and isLeader != '' ">-->
<!--                #{isLeader,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="isDel != null and isDel != '' ">-->
<!--                #{isDel,jdbcType=INTEGER},-->
<!--            </if>-->
<!--        </trim>-->
<!--    </insert>-->

<!--    <update id="updateSelective" parameterType="com.pojo.Teacher">-->
<!--        UPDATE t_sys_teacher-->
<!--        <set>-->
<!--            <if test="loginName!=null and loginName != ''">-->
<!--                login_name = #{loginName},-->
<!--            </if>-->
<!--            <if test="classNum!=null and classNum != ''">-->
<!--                class_num = #{classNum},-->
<!--            </if>-->
<!--            <if test="realName!=null and realName != ''">-->
<!--                real_name = #{realName},-->
<!--            </if>-->
<!--            <if test="age!=null and age != ''">-->
<!--                age = #{age},-->
<!--            </if>-->
<!--            <if test="sex!=null and sex != ''">-->
<!--                sex = #{sex},-->
<!--            </if>-->
<!--            <if test="grade!=null and grade != ''">-->
<!--                grade = #{grade},-->
<!--            </if>-->
<!--            <if test="project!=null and project != ''">-->
<!--                project = #{project},-->
<!--            </if>-->
<!--            <if test="rank!=null and rank != ''">-->
<!--                rank = #{rank},-->
<!--            </if>-->
<!--            <if test="unit!=null and unit != ''">-->
<!--                unit = #{unit},-->
<!--            </if>-->
<!--            <if test="isLeader!=null and isLeader != ''">-->
<!--                isLeader = #{isLeader},-->
<!--            </if>-->
<!--        </set>-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--    <update id="del" parameterType="com.pojo.Teacher">-->
<!--        UPDATE t_sys_teacher-->
<!--        SET  isDel = 1-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

</mapper>